<%-include("partials/header.ejs") %>

<h1>This is where the post is created</h1>
<form action="/home" method="post">
    <input type="text" name="post_heading" id="" placeholder="Header here" />
    <input type="text" name="post_content" id="" placeholder="Create Post" />
    <input type="submit" value="Post!" />
  </form>



<%-include("partials/footer.ejs") %>